<div class="bonds">
    <details open>
        <summary><strong>Обязанности</strong></summary>
        <ul>
            {{#each bonds}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </details>
</div>