<div class="flaws">
        <details open>
        <summary><strong>Недостатки</strong></summary>
        <ul>
            {{#each flaws}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </details>
</div>