<div class="ideals">
    <details open>
        <summary><strong>Идеалы</strong></summary>
        <ul>
            {{#each ideals}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </details>
</div>