<div class="traits">

    <details open>
        <summary><strong>Черты характера</strong></summary>
        <ul>
            {{#each traits}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </details>

</div>
